<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
	<div><a class="editor-link btn" href="cloudcannon:collections/_data/sidebar.yml" class="btn"><strong>&#9998;</strong> Edit sidebar</a></div>
	<div class="author">
		<p>
			<a href="{{ site.baseurl }}/about/">
				<img src="{{ site.baseurl }}{{ site.data.sidebar.author_image }}" alt="author" class="author">
			</a>
		</p>
		<p>{{ site.data.sidebar.description_markdown | markdownify }}</p>
	</div>

	<div class="social-icons">
		{% if site.data.sidebar.facebook && site.data.sidebar.facebook != "" %}<a target="_blank" href="https://facebook.com/{{ site.data.sidebar.facebook }}">{% include social-icon.html icon="Facebook" %}</a>{% endif %} 
		{% if site.data.sidebar.twitter && site.data.sidebar.twitter != "" %}<a target="_blank" href="https://twitter.com/{{ site.data.sidebar.twitter }}">{% include social-icon.html icon="Twitter" %}</a>{% endif %} 
		{% if site.data.sidebar.pinterest && site.data.sidebar.pinterest != "" %}<a target="_blank" href="https://pinterest.com/{{ site.data.sidebar.pinterest }}">{% include social-icon.html icon="Pinterest" %}</a>{% endif %} 
		{% if site.data.sidebar.instagram && site.data.sidebar.instagram != "" %}<a target="_blank" href="https://www.instagram.com/{{ site.data.sidebar.instagram }}">{% include social-icon.html icon="Instagram" %}</a>{% endif %} 
		<a target="_blank" href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %}</a>
	</div>

	{% if site.newsletter_action && site.newsletter_action!=""%}<form action="{{ site.newsletter_action }}" method="post">
		<h3>Newsletter</h3>
		<p>Get my latest recipes sent straight to your inbox.</p>
		<input type="text" name="EMAIL" placeholder="Email address">
		<input type="submit" value="Sign up">
	</form>
	{% endif %}
</aside>
