---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}
	<div class="image">
		<img src="{{ page.featured_image }}" alt="{{ page.title }}">
	</div>

	<div class="recipe-body">
		{{ content }}
	</div>

	<ul id="recipe" class="recipe-overview">
		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
	</ul>

	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Ingredients</h2>
			{{ page.recipe.ingredients_markdown | markdownify }}
		</div>

		<div class="directions">
			<h2>Directions</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
	</div>

	<div class="sharing">
		{% assign share_url = page.url | absolute_url | cgi_escape %}
		<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include social-icon.html icon="Facebook" %}</a>
		<a class="twitter" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!">{% include social-icon.html icon="Twitter" %}</a>
		<a class="google-plus" href="https://plus.google.com/share?url={{ share_url }}">{% include social-icon.html icon="Google Plus" %}</a>
		<a class="pinterest" href="//pinterest.com/pin/create/link/?url={{ share_url }}&amp;description={{ page.description }}">{% include social-icon.html icon="Pinterest" %}</a>
		<a class="email" href="mailto:?subject=I've%20found%20a%20great%20recipe&amp;body=Check%20it%20out%20-%20{{ share_url }}">{% include social-icon.html icon="Email" %}</a>
	</div>

	<div class="cta">
		<h2>More delicious recipes</h2>
		<p>This is one of the many fantastic recipes available on this blog</p>
		<div class="button"><a href="/recipes">Check out more recipes</a></div>
	</div>
	{% if site.disqus_shortname and page.comments %}
		<div id="disqus_thread"></div>
		<script>
			var disqus_shortname = '{{ site.disqus_shortname }}';
			var disqus_config = function () {
				this.page.url = "{{ page.url | prepend: site.url }}";
				this.page.identifier = "{{ page.id }}";
			};
			(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	{% endif %}
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script>
